<h2>Edit User</h2>
<hr/>
  <%  if @user%> 
    <%= render partial: 'errors/validation_error', locals: {errors: @user.errors} %>
  <% end %>


  <%= form_for(@user, :as => :user, :url => users_path(@user.id), html: {method: 'PUT' }) do |f| %>
  <div>
    <%= f.label :email %>
    <strong> <%= @user.email %> </strong>
  </div>

  <br/>
    <div><%= f.label :role %>
      <%= f.label :role, "Reporter", :value => "reporter", class: 'radio inline' %>
      <%= f.radio_button :role, "reporter", checked: true %>
      <%= f.label :role, "Editor", :value => "editor"  , class: 'radio inline' %>
      <%= f.radio_button :role, "editor" %> 
      <%= f.label :role, "Admin", :value => "admin"  , class: 'radio inline' %>
      <%= f.radio_button :role, "admin" %>
    </div>
    <br />

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Save",  class: "btn btn-primary btn-default" %></div>
<% end %>
