<!DOCTYPE html>
<html>
<head>
<title>ContentPublishing</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar  do %>
  <%= menu_group do %>
    <% menu_for_role.each do |name,url| %>
      <%= menu_item name, url %>
    <%end%>
  <% end %>

  <%= menu_group :pull => :right do %>
    <% action_menu_for_role.each do |name,url| %>
      <%= menu_item name, url %>
    <%end%>
    <%= render 'devise/menu/header_links' %>
  <% end %>

<% end %>

<div class="container">

<% if flash[:error].present? %>
  <div class="alert alert-error">
    <%= flash[:error] %>
   </div>
<% end %>

<% if flash[:success].present? %>
  <div class="alert alert-success">
    <%= flash[:success] %>
   </div>
 <% end %>

<% if flash[:alert].present? %>
  <div class="alert alert-warning">
    <%= flash[:alert] %>
   </div>
<% end %>
  <%= yield %>
</div>

</body>
</html>
