<!DOCTYPE html>
<html>
<head>
<title>ContentPublishing</title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
<%= nav_bar  do %>
  <%= menu_group do %>
   <%= menu_item "Home", root_path %>
   <%= menu_item "Users", users_path %>
   <%= menu_item "Articles", articles_path %>
  <% end %>

  <%= menu_group :pull => :right do %>
    <%= menu_item "New Article", new_article_path %>
    <%= render 'devise/menu/header_links' %>
  <% end %>

<% end %>

<div class="container">

<% if flash[:error].present? %>
  <div class="alert alert-warning">
    <%= flash[:error] %>
   </div>
<% end %>

<% if flash[:alert].present? %>
  <div class="alert alert-warning">
    <%= flash[:alert] %>
   </div>
<% end %>
  <%= yield %>
</div>

</body>
</html>
